.loginContainer {
  display: flex;
  justify-content: center;
  border: 1px lightgray solid;
  width: 15rem;
  height: 25rem;
  margin-top: 5rem;
}
h1 {
  display: flex;
  justify-content: center;
}

.textInputContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.loginLink {
  display: flex;
  justify-content: center;
}
