.recipeContainer {
  display: flex;
  justify-content: center;
}

.recipeTitle {
  text-transform: capitalize;
  margin-top: 2rem;
}

.recipeCard {
  margin-top: 1.5rem;
}

.instructionCard {
  margin-top: 1.5rem;
}
